<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${Titulo}">Pagina Spring Boot</title>
</head>

<body>

    <h1>Información del taco</h1>

    <ul>
        <li>
            <strong>Nombre:</strong>
            <span th:text="${Taco.nombre}"></span>
        </li>

        <li>
            <strong>Carne:</strong>
            <span th:text="${Taco.tipoCarne}"></span>
        </li>

        <li>
            <strong>Tortilla:</strong>
            <span th:text="${Taco.tipoTortilla != null ? Taco.tipoTortilla : 'Sin tortilla'}"></span>
        </li>

        <li>
            <strong>Salsa:</strong>
            <span th:text="${Taco.tipoSalsa}"></span>
        </li>

        <li>
            <strong>Precio:</strong>
            <span th:text="${Taco.precio}"></span>
        </li>

        <li>
            <strong>Cantidad:</strong>
            <span th:text="${Taco.cantidad}"></span>
        </li>

        <li>
            <strong>ID:</strong>
            <span th:text="${Taco.id}"></span>
        </li>
    </ul>

<h2>Lista de tacos</h2>

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Carne</th>
            <th>Tortilla</th>
            <th>Salsa</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>ID</th>
        </tr>
    </thead>

    <tbody>
            <tr th:each="taco : ${ListaTacos}">
            <td th:text="${taco.nombre}"></td>
            <td th:text="${taco.tipoCarne}"></td>
            <td th:text="${taco.tipoTortilla}"></td>
            <td th:text="${taco.tipoSalsa}"></td>
            <td th:text="${taco.precio}"></td>
            <td th:text="${taco.cantidad}"></td>
            <td th:text="${taco.id}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>